<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Hello, <%= @user.username %></h1>

<% if !@user.artists.empty? && !@user.songs.empty? %>

    <h2>This is your music library</h2>

    <% @user.songs.each do |song| %>
      <ul>
        <%= song.artist.name %> --- "<%= song.name %>"
      </ul>
    <% end %>

    <% elsif @user.artists.empty? && @user.songs.empty? %>
       <h2>Your music library is currently empty :(</h2>
<% end %>

    <h2>Add new artists and songs,
    if you cannot find them in our library below:</h2>

    <ul>
  <li><h2><a href="/artists">-*-All artists-*-</a></li></h2>
  <li><h2><a href="/songs">-*-All songs-*-</a></li></h2>
    </ul>
