<h2>Please fill in this form to add a song to the library</h2>

<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<form action="/songs/new" method="POST">

  <h3><label>Song name</label></h3>
  <input type="text" name="song[name]"> <br>

  <h3><label>Choose an artist</label></h3>
  <select name="song[artist]">
    <option value="nil">-</option>
    <% Artist.all.each do |artist| %>
    <option value="<%=artist.id%>"><%=artist.name%></option>
    <% end %>
  </select> <br>

  <h3><label>Or add a new one</label></h3>
  <input type="text" name="song[artist]"> <br>


  <input type="submit" value="Add song">

</form>
