<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<ul>
  <% @songs.each do |song| %>
    <h2><li>"<%= song.name%>" by <%= song.artist.name%></li></h2>
  <% end %>
</ul>

<h3>Back to <a href="/">my library</a>.</h3>
