<h1>Main library: songs</h1>

<div class="flash">
    <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>
</div>

<ul>
    <% @songs.each do |song| %>
    <h3>
        <a href="/songs/<%= song.slug%>">"<%= song.name%>"</a>
        by
        <%= song.artist.name%>
    </h3>
    <% end %>
</ul>
<br>
<h3>Back to
    <a href="/">my library</a>
</h3>
