<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<form action="/login" method="post">
  <h2><label>Username</label>
  <input type="text" name="user[username]"></h2>

  <h2><label>Password</label>
  <input type="password" name="user[password]"></h2>

  <input type="submit" value="Login">

</form>

<h3>If you are new here, please <a href="/signup">sign up</a>.</h3>
